<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @cart_product.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_product.cart %>
</p>

<%= link_to 'Edit', edit_cart_product_path(@line_item) %> |
<%= link_to 'Back', cart_products_path %>
