<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_products.empty? %>
	<p>No Products Found</p>

<% else %>

    <table>
      <% @search.search_products.each do |product| %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

            <td>
              <%= image_tag(product.image_url, class: 'list_image') %>
            </td>

            <td class="list_description">
              <dl>
                <dt><dt><%= link_to product.name, product %></dt></dt>
                <% @categories.each do |category| %>
                    <% if product.category_id == category.id %>
                        <dt><%= category.title %></dt>
                    <% end %>
                <% end %>
                <dt><%= product.manufacturer %></dt>
                <dd><%= truncate(strip_tags(product.description),
                                 length: 80) %></dd>
              </dl>
            </td>

          </tr>
      <% end %>
    </table>



<% end %>