<p id="notice"><%= notice %></p>

<%= image_tag(@product.image_url) %>

<p>
  <strong>Title:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <% @categories.each do |category| %>
      <% if @product.category_id == category.id %>
          <%= category.title %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= button_to 'Add to Cart', cart_products_path(product_id: @product, locale: I18n.locale), remote: true %> |
<%= link_to 'Back', store_index_path %>
