<p id="notice"><%= notice %></p>

<%= image_tag(@product.image_url) %>

<p>
  <strong>Title:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <% @categories.each do |category| %>
      <% if @product.category_id == category.id %>
          <%= category.title %>
      <% end %>
  <% end %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
