<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="content-wrapper">
    <div class="item-container">
      <div class="container">
        <div class="col-md-4">
              <%= image_tag(@product.image_url) %>
        </div>

        <div class="col-md-7">
          <div class="product-title"><%= @product.name %></div>
          <div class="product-desc">
            <% @categories.each do |category| %>
                <% if @product.category_id == category.id %>
                    <%= category.title %>
                <% end %>
            <% end %>
          </div>
          <div class="product-desc"><%= @product.manufacturer %></div>
          <hr>
          <div class="product-price">$ <%= @product.price %></div>
          <div class="product-stock">In Stock</div>
          <hr>
          <div class="btn-group cart">
            <%= button_to 'Add to Cart', cart_products_path(product_id: @product, locale: I18n.locale, :html => {class: 'btn btn-success'}), remote: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

          <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="service-one">

            <section class="container product-info">
              <%= @product.description %>
            </section>

          </div>
          <div class="tab-pane fade" id="service-two">

            <section class="container">

            </section>

          </div>
          <div class="tab-pane fade" id="service-three">

          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
